* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Rajdhani-Bold;
    src: url("Fonts/Rajdhani-Bold.ttf");
}


#landingPage {
    background-color: #eded53;
    height: 700px;
    width: 100%;
}

.header {
    position: relative;
    display: flex;
    background-color: #989898;
    height: 11.45%;
    width: 100%;
}

.nav {
        margin: auto 0;
        float: left;
        
}
.logo {
    position: absolute;
    font-family: 'Rajdhani-Bold';
    font-size: 3em;
    color: #330070;
    top: 11.45%;
    left: 50%;
    
    z-index: 11;
}

